/* Boton superior de inicio o cerrado de sesion de admin */
.admin-login-btn, .admin-logout-btn {
    padding: 1rem 2rem;
    background-color: var(--red-color);
    color: var(--white-color);
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    transition: background-color .35s ease;
    border: none;
    font-size: var(--fs-small);
}

.admin-login-btn i {
    font-size: var(--fs-medium);
    display: none;
}

.admin-login-btn:hover, .admin-logout-btn:hover {
    background-color: var(--dark-red-color);
}

@media only screen and (max-width: 768px) {
    .h-admin-login-btn {
        padding: 1.25rem;
    }

    .h-admin-login-btn i {
        display: block;
    }

    .h-admin-login-btn span{
        display: none;
    }
}

/* Boton de subscripcion en el footer */
.subscription-submit-btn {
    background-color: var(--white-color);
    border: none;
    padding: .85rem 1rem;
    color: #292929;
    font-weight: 500;
    border-radius: 8px;
    transition: background-color .35s ease;
}

.subscription-submit-btn:hover {
    background-color: #dadada;
}
