    .form {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        color: #3a3a3a;
        font-size: calc(var(--fs-small) - 1px);
    }

    .form .multiple-input-container {
        display: flex;
        gap: 1rem;
    }

    .form .input-container, .date-selector-input-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .date-selector-label {
        color: #5c5c5c;
        font-size: calc(var(--fs-small) - 2px);
    }

    .multiple-input-container button {
        flex: 1;
        padding: 1rem 1.25rem;
    }

    .form > div:last-child {
        margin-top: 1.25rem;
    }

    /* Botones de formularios */
    .regular-form-submit-btn {
        border-radius: var(--user-login-inputs-b-radius);
        padding-block: var(--user-login-inputs-size);
        background-color: var(--red-color);
        font-size: 1.25rem;
        color: var(--white-color);
        text-wrap: nowrap;
        text-align: center;
        border: none;
        transition: background-color .35s ease;
    }

    .regular-form-submit-btn:hover {
        background-color: var(--dark-red-color);
    }

    .regular-form-cancel-btn {
        border-radius: var(--user-login-inputs-b-radius);
        padding-block: var(--user-login-inputs-size);
        background-color: var(--white-color);
        box-shadow: 0 0 0 1.6px var(--red-color);
        font-size: 1.25rem;
        color: var(--red-color);
        text-wrap: nowrap;
        text-align: center;
        border: none;
        transition: background-color .35s ease;
    }

    .regular-form-cancel-btn:hover {
        background-color: #f0f0f0;
    }