.user-dni-input {
    border: none;
    width: 100%;
    padding: 1em;
    border-radius: 1.2em;
    font-family: 'Inter', Arial;
    font-size: 1em;
    font-weight: 500;
    color: #828282;
    text-align: center;
}

.email-subscription-input {
    border: none;
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    background-color: #101010;
    color: var(--white-color);
}

    .email-subscription-input::placeholder {
        color: var(--white-color);
        font-size: 1em;
    }

.admin-login-signup-inputs, .signup-selector-input {
    width: 100%;
    border: none;
    outline: none;
    padding: .7em;
    border-radius: 6px;
    font-size: 1em;
}
