.user-login-input {
    all: unset;
    background-color: #f6f6f6;
    text-align: center;
    font-size: 1.25rem;
    color: #646464;
    padding-block: var(--user-login-inputs-size);
    border-radius: var(--user-login-inputs-b-radius);
}

.admin-login-input {
    all: unset;
    background-color: #fff;
    box-shadow: 0 0 0 1.6px #c5c5c5;
    text-align: left;
    font-size: 1.25rem;
    color: #646464;
    padding-inline: 1.25rem;
    padding-block: var(--user-login-inputs-size);
    border-radius: var(--user-login-inputs-b-radius);
    transition: box-shadow .35s ease;
}
.admin-login-input:focus {
    box-shadow: 0 0 0 2px #adadad;
}

/*custom checkbox*/
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
.checkbox-container{
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 2px rgb(79, 79, 79);
    border-radius: 50%;
    transition: 300ms;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: var(--red-color);
    box-shadow: 0px 0px 0px rgb(79, 79, 79);
    border-radius: .5rem;
    animation: pulse 500ms ease;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #ffffff;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 #790f0f90;
    }
    75% {
        box-shadow: 0 0 0 4px #b60f0f60;
    }
    100% {
        box-shadow: 0 0 0 5px #ac0c0c30;
    }
}

.subscription-form-input {
    padding-inline: 1.1rem;
    height: 100%;
    background-color: #161616;
    color: var(--white-color);
    border-radius: 8px;
    border: none;
    outline: none;
}

.regular-form-input {
    width: 100%;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 0 1.6px #c5c5c5;
    text-align: left;
    font-size: var(--fs-small);
    color: #646464;
    padding: .85rem 1rem;
    border-radius: 8px;
    transition: box-shadow .35s ease;
}