.alert {
    z-index: 1000;
    position: fixed;
    top: 3.5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em;
    background-color: var(--white-color);
    box-shadow: 0px 10px 15px -8px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: 4px;
    & span {
        color: rgb(52, 52, 52);
    }
}

.alert .warning {
    & i{
        color: var(--red-color);
    }
}

.alert .ok {
    & i {
        color: #2dd46c;
    }
}

.alert.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 2.5rem min(5vw, 3rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeOut 0.35s forwards;

    transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete;
}

    .popup::backdrop {
        background-color: rgba(0, 0, 0, 0.45);
        animation: backdropFadeOut 0.5s forwards;
    }

    .popup[open] {
        animation: fadeIn 0.5s forwards;
    }

    .popup[open]::backdrop {
        animation: backdropFadeIn 0.5s forwards;
    }



.popup h2 {
    font-size: 2rem;
    color: var(--red-color);
    text-align: center;
    margin-bottom: 1rem;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        translate: 0 -0.85em;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        translate: 0 0;
    }

    to {
        opacity: 0;
        translate: 0 -0.85em;
    }
}

@keyframes backdropFadeIn {
    from {
        background: hsl(0 0% 0% / 0%);
    }

    to {
        background: hsl(0 0% 0% / 50%);
    }
}

@keyframes backdropFadeOut {
    from {
        background: hsl(0 0% 0% / 50%);
    }

    to {
        background: hsl(0 0% 0% / 0%);
    }
}