.table-container {
    max-width: 100%;
    overflow-x: scroll;
}

.table {
    --border: solid 1px #ddd;
    --border-radius: 1rem;
    --cell-padding: 1.25rem 1.25rem 1.25rem 1.35rem;
    font-size: calc(var(--fs-small) - 2px);
    width: 100%;
    table-layout: auto;
    border-radius: var(--border-radius);
    border-collapse: collapse;
    overflow: hidden;
    text-align: left;
}

    .table thead tr {
        background-color: var(--red-color);
        cursor: pointer;
    }

        .table thead tr th {
            font-size: inherit;
            color: var(--white-color);
            font-weight: 600;
            padding: var(--cell-padding);
        }

    .table tbody tr td {
        font-size: inherit;
        color: #313131;
        font-weight: 400;
        padding: var(--cell-padding);
    }


    .table tbody tr {
        background-color: var(--white-color);
    }

        .table tbody tr:nth-of-type(2n) {
            background-color: #F1F0ED;
        }

.table-action-btn {
    display: flex;
    justify-content: end;
}

.table-action-btn button {
    height: 100%;
    aspect-ratio: 1/1;
    padding: .5rem;
    border: none;
    border-radius: 6px;
    color: var(--white-color);
    background-color: var(--red-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-small);
    transition: background-color .35s ease;
}

    .table-action-btn button:hover {
        background-color: #d61724;
    }

.table thead tr:first-child th:first-child {
    border-top-left-radius: var(--border-radius);
}

.table thead tr:first-child th:last-child {
    border-top-right-radius: var(--border-radius);
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: var(--border-radius);
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: var(--border-radius);
}



@media only screen and (max-width: 1300px) {
    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

        .table tr {
            margin-bottom: 1rem;
            border-radius: var(--border-radius);
        }

        .table tbody tr td {
            padding: 1.25rem 1.5rem 1.25rem 1.25rem;
            border-bottom: var(--border);
            display: flex;
            justify-content: end;
            padding-left: 50%;
            position: relative;
        }

        .table td::before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20%;
            padding-left: 1.5rem;
            text-align: left;
            text-wrap: nowrap;
            color: var(--red-color);
            font-weight: 600;
        }

        .table tbody tr:nth-of-type(2n) {
            background-color: var(--white-color);
        }
}
