@{
    ViewData["Title"] = "Inicio";
}
<head>
    <link rel="stylesheet" href="~/css/pages/home.css" />
</head>

<header>
    <div class="logo">
        <img src="./images/logo.png" alt="logo">
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>
            <li>
                <a asp-action="Login" asp-controller="Administrador">
                    <button class="admin-login-large-btn">
                        <i class="fa-solid fa-user"></i>
                        <span>
                            Iniciar como administrador
                        </span>
                    </button>
                </a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="user-login-container">
        <div class="title">Bienvenido/a</div>
        <form action="#" class="user-login-form">
            <div class="input-container dni-input-container">
                <input type="text" name="dni" id="dni-input" class="user-dni-input" required autocomplete="off">
                <label for="dni-input" class="dni-label">DNI</label>
            </div>
            <div class="input-container">
                <input type="submit" value="Ingresar" class="user-login-btn">
            </div>
        </form>
    </div>
    <div class="social-media-container">
        <ul>
            <li>
                <a href="https://www.instagram.com/ices.superior.universitario/" target="_blank" id="instagram-link">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://ar.linkedin.com/company/ices-superior/" target="_blank" id="linkedin-link">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://wa.me/+5493493523774" target="_blank" id="whatsapp-link">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/ICES.FundacionGSS/" target="_blank" id="facebook-link">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
            </li>
        </ul>
    </div>
</main>