@model IniciarSesionAdminModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}
<head>
    <link rel="stylesheet" href="~/css/pages/admin-login.css" />
</head>

<header>
    <div class="logo">
        <img src="../images/logo.png" alt="logo">
    </div>
    <nav>
        <ul class="nav-links">
            <li><a asp-action="Index" asp-controller="Inicio">Inicio</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="admin-login-container">
        <div class="top-form">
            <div class="title">
                <h1>Iniciar sesión</h1>
            </div>
            <div class="forgot-password-txt">
                <span>¿No tienes cuenta de administrador?</span>
                <a asp-action="Registro" asp-controller="Administrador">Crear nueva cuenta</a>
            </div>
        </div>
        <form asp-action="AutenticarAdmin" asp-controller="Administrador" method="post" class="admin-login-form">
            <div class="input-container">
                <label asp-for="NombreUsuario">Nombre de usuario</label>
                <input type="text" asp-for="NombreUsuario" class="admin-login-signup-inputs" required autocomplete="off">
            </div>
            <div class="input-container">
                <label asp-for="Contraseña">Contraseña</label>
                <input type="password" asp-for="Contraseña" class="admin-login-signup-inputs" required autocomplete="off">
            </div>
            <div class="submit-input-container">
                <input type="submit" value="Iniciar sesión" class="admin-login-btn">
            </div>
        </form>
    </div>
</main>