@{
    ViewData["Title"] = "Soporte";
}

<head>
    <link rel="stylesheet" href="~/css/layout/admin-dashboard.css">
    <link rel="stylesheet" href="~/css/pages/admin-help.css">
</head>



<!-- barra de navegacion superior -->
<header class="header">
    <a asp-controller="Administrador" asp-action="PanelInicio" class="logo">
        <img src="/images/logo.png" alt="Logo">
    </a>

    <nav class="nav">
        <ul>

            <!-- Estos siguientes dos botones aparecen solo en pantallas chicas-->
            <li class="help-btn-container">
                <a asp-controller="Administrador" asp-action="PanelAyuda">
                    <button class="help-btn">
                        <i class="fa-solid fa-headset"></i>
                    </button>
                </a>
            </li>

            <li class="profile-btn-container">
                <a asp-controller="Administrador" asp-action="PanelPerfil">
                    <button class="profile-btn">
                        <i class="fa-solid fa-user"></i>
                    </button>
                </a>
            </li>

            <li class="admin-logout-btn-2-container">
                <a asp-controller="Usuario" asp-action="LoginCliente">
                    <button class="admin-logout-btn-2">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </button>
                </a>
            </li>


            <!-- Este boton aparece solo en pantallas grandes-->
            <li class="admin-logout-btn-container">
                <a asp-controller="Usuario" asp-action="LoginCliente">
                    <button class="admin-logout-btn">
                        <span>Cerrar sesión</span>
                    </button>
                </a>
            </li>
        </ul>
    </nav>
</header>



<main class="main">


    <!-- menu inferior, aparece en pantallas chicas -->
    <div class="bottom-menu-container">
        <nav class="bottom-menu">
            <ul>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelInicio">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-house"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelClientes">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-dumbbell"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelMembresias">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-star"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelPagos">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-cash-register"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelAdministradores">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-unlock-keyhole"></i>
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- menu de la izquierda, aparece en pantallas grandes -->
    <nav class="sidebar">
        <ul>
            <li>
                <a asp-controller="Administrador" asp-action="PanelInicio">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-house"></i>
                        <span>Inicio</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelClientes">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-dumbbell"></i>
                        <span>Clientes</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelMembresias">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-star"></i>
                        <span>Membresías</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelPagos">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-cash-register"></i>
                        <span>Pagos</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelAdministradores">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-unlock-keyhole"></i>
                        <span>Administradores</span>
                    </button>
                </a>
            </li>

        </ul>
        <ul>
            <li>
                <a asp-controller="Administrador" asp-action="PanelAyuda">
                    <button class="sidebar-btn active">
                        <i class="fa-regular fa-circle-question"></i>
                        <span>Ayuda</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelPerfil">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-user"></i>
                        <span>Mi perfil</span>
                    </button>
                </a>
            </li>
        </ul>
    </nav>

    <!-- app -->
    <div class="app help">
        <section class="help-main-sec card">
            <h1 class="help-main-sec__title ">¿Necesitas ayuda?</h1>
            <p class="help-main-sec__body">Encuentra guías, respuestas a preguntas frecuentes y soporte técnico para resolver cualquier problema con el sistema.</p>
        </section>
        <section class="frecuent-question-sec card">
            <div class="frecuent-question-sec__top"><h2 class="frecuent-question-sec__title">Preguntas frecuentes</h2></div>
            <div class="frecuent-question-sec__body"></div>
        </section>
        <section class="support-sec card">
            <div class="support-sec__top"><h2 class="support-sec__title">Soporte</h2></div>
            <div class="support-sec__body">
                <div class="support-sec__card">
                    <div class="support-sec__card-icon">
                        <i class="fa-solid fa-phone-volume"></i>
                    </div>
                    <div class="support-sec__card-text">
                        <div class="support-sec__card-number">
                            <span>Número de contacto</span>
                            <span>+54 3493 349701</span>
                        </div>
                        <span class="support-sec__card-message">Si necesitas ayuda, no dudes en comunicarte</span>
                    </div>

                </div>
            </div>
        </section>
    </div>
</main>