@model WebApp.Models.ViewModels.PanelMembresiasViewModel


@{
    ViewData["Title"] = "Panel de Membresías";
}

<head>
    <script src="~/js/dateSelector.js" defer></script>
    <script src="~/js/formPopups.js" defer></script>
    <link rel="stylesheet" href="~/css/layout/admin-dashboard.css">

</head>

<!-- Formulario de registro de membresia-->
<dialog class="popup" id="registrarMembresiaForm">
    <form asp-action="RegistrarMembresia" method="post" class="form">

        <div class="input-container">
            <label>Descripción</label>
            <input type="text" class="regular-form-input" asp-for="MembresiaRegistroDto.Tipo" required>
        </div>
        <div class="input-container">
            <label>Duración (Días)</label>
            <input type="number" class="regular-form-input" asp-for="MembresiaRegistroDto.DuracionDias" required>
        </div>

        <div class="input-container">
            <label>Precio (ARS)</label>
            <input type="text" class="regular-form-input" asp-for="MembresiaRegistroDto.Precio" required>
        </div>

        <div class="multiple-input-container">
            <button type="submit" class="regular-form-submit-btn">Registrar</button>
            <button class="cancel-btn regular-form-cancel-btn">Cancelar</button>
        </div>
    </form>
</dialog>


<!-- barra de navegacion superior -->
<header class="header">
    <a asp-controller="Administrador" asp-action="PanelInicio" class="logo">
        <img src="/images/logo.png" alt="Logo">
    </a>

    <nav class="nav">
        <ul>
            <li class="profile-btn-container">
                <a>
                    <button class="profile-btn">
                        <i class="fa-solid fa-user"></i>
                    </button>
                </a>
            </li>
            <li class="admin-logout-btn-2-container">
                <a asp-controller="Usuario" asp-action="LoginCliente">
                    <button class="admin-logout-btn-2">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </button>
                </a>
            </li>
            <li class="admin-logout-btn-container">
                <a asp-controller="Usuario" asp-action="LoginCliente">
                    <button class="admin-logout-btn">
                        <span>Cerrar sesión</span>
                    </button>
                </a>
            </li>
        </ul>
    </nav>
</header>



<main class="main">

    <!-- menu inferior, aparece en pantallas chicas -->
    <div class="bottom-menu-container">
        <nav class="bottom-menu">
            <ul>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelInicio">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-house"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelClientes">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-dumbbell"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelMembresias">
                        <button class="bottom-menu-btn active">
                            <i class="fa-solid fa-star"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a>
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-cash-register"></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a asp-controller="Administrador" asp-action="PanelAdministradores">
                        <button class="bottom-menu-btn">
                            <i class="fa-solid fa-unlock-keyhole"></i>
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <!-- menu de la izquierda, aparece en pantallas grandes -->
    <nav class="sidebar">
        <ul>
            <li>
                <a asp-controller="Administrador" asp-action="PanelInicio">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-house"></i>
                        <span>Inicio</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelClientes">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-dumbbell"></i>
                        <span>Clientes</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelMembresias">
                    <button class="sidebar-btn active">
                        <i class="fa-solid fa-star"></i>
                        <span>Membresías</span>
                    </button>
                </a>
            </li>
            <li>
                <a>
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-cash-register"></i>
                        <span>Pagos</span>
                    </button>
                </a>
            </li>
            <li>
                <a asp-controller="Administrador" asp-action="PanelAdministradores">
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-unlock-keyhole"></i>
                        <span>Administradores</span>
                    </button>
                </a>
            </li>

        </ul>
        <ul>
            <li>
                <a>
                    <button class="sidebar-btn">
                        <i class="fa-regular fa-circle-question"></i>
                        <span>Ayuda</span>
                    </button>
                </a>
            </li>
            <li>
                <a>
                    <button class="sidebar-btn">
                        <i class="fa-solid fa-user"></i>
                        <span>Mi perfil</span>
                    </button>
                </a>
            </li>
        </ul>
    </nav>


    <!-- App -->
    <div class="app">
        <h1>
            Listado de membresías
        </h1>

        <div class="action-btns">
            <div class="search-box">
                <form action="#" class="search-form">
                    <input type="text" placeholder="Buscar registro...">
                    <select>
                        <option>ID</option>
                        <option>Descripción</option>
                    </select>
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div>
                <button class="admin-action-btn" id="registrarMembresiaBtn">
                    <i class="fa-solid fa-circle-plus"></i>
                    <span>Nuevo registro</span>
                </button>
            </div>
        </div>

        <!-- Lista de administradores -->

        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Descripción</th>
                        <th>Duración (Días)</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaMembresias)
                    {
                        <tr>
                            <td data-label="Identificador">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td data-label="Descripción">
                                @Html.DisplayFor(modelItem => item.Tipo)
                            </td>
                            <td data-label="Duración (Días)">
                                @Html.DisplayFor(modelItem => item.DuracionDias)
                            </td>
                            <td data-label="Precio">
                                @($"{item.Precio:N2} ARS")
                            </td>
                            <td data-label="Acciones" class="table-action-btn">
                                <button><i class="fa-solid fa-ellipsis"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>