main {
    display: grid;
    place-content: center;
    min-height: 83dvh;
    position: relative;
}

.admin-signup-container {
    padding-block: 4.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: var(--white-color);
    &::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../../images/background-3.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.2;
    }
}

.admin-signup-container .top-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    & h1 {
        font-size: 3em;
        text-align: center;
    }
}

.login-txt {
    font-size: 1.25em;
    text-align: center;
    & a{
        display: block;
        font-weight: 600;
        color: var(--red-color);
    }
}

.admin-signup-form {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    
    & label, span {
        display: block;
        margin-bottom: 6px;
    }

    & .submit-input-container {
        margin-top: 10px;
    }
}

.mult-input-container {
    display: flex;
    gap: 8px;

    & .input-container {
        flex: 1;
    }
}

.terms-conditions-container {
    margin-block: 3px;
    color: var(--white-color);
    & a {
        color: var(--red-color);
    }
}

@media (max-width: 830px) {
    main {
        font-size: 12px;
    }
    .admin-signup-form {
        max-width: 350px;
    }
}