.body {
    grid-template-rows: auto minmax(80vh, 1fr) auto;
}

.main {
    padding-bottom: clamp(4rem, 1vw + 3rem, 6rem);
}

.app {
    height: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: minmax(330px, 1fr) 2.5fr;
    grid-template-rows: 1fr;
    column-gap: clamp(2rem, 7vw, 10rem);
    padding-inline: var(--padding-inline-large);
}

.form-container {
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.form-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .35rem;
}

.form-top h1 {
    text-wrap: nowrap;
    line-height: 1;
    color: #1e1e1e;
    font-size: var(--fs-large);
}

.form-top h2 {
    text-wrap: nowrap;
    line-height: 1;
    color: #696969;
    font-size: var(--fs-medium);
}

.admin-login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.show-password-container {
    padding-block: 4px;
    display: flex;
    flex-direction: row-reverse;
    gap: .75rem;
}

.show-password-container label {
    cursor: pointer;
    user-select: none;
    color: #616161;
    font-weight: 600;
    font-size: calc(var(--fs-small) - 3px);
}

.input-container label {
    text-wrap: nowrap;
    color: #848484;
    font-size: var(--fs-small);
    font-weight: 500;
}

.img-container {
    pointer-events: none;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 7px 17px 0px rgba(0, 0, 0, 0.15);
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

@media only screen and (max-width: 810px) {
    .app {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .form-container {
        width: clamp(250px, 80%, 560px);
    }
    

    .img-container {
        display: none;
    }
}