/*main app*/
.app.help {
    display: grid;
    flex: 1;
    grid-template-areas:
        'one one one'
        'two two three'
        'two two three'
        'two two three';
    gap: clamp(1rem, 5vw + 1rem, 2.5rem);
    min-height: 100%;
    overflow-y: auto;
    background-color: #e5e5e5;
    padding: clamp(1rem, 5vh + 1rem, 3rem) clamp(1rem, 5vw + 1rem, 3rem);
    --cards-border-radius: 20px;
    --section-title-fs: clamp(1rem, 1vw + 1rem, 1.25rem);

    grid-auto-columns: 1fr 1fr auto;
}


    .app.help .card {
        background-color: #ffffff;
        border-radius: var(--cards-border-radius);
        box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.1);
    }

.help-main-sec {
    grid-area: one;
    padding: clamp(2.5rem, 5vw + 10px, 3.75rem) clamp(3rem, 4.5vw + 10px, 4rem);
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.help-main-sec__title {
    color: #656565;
    line-height: 1;
    font-size: clamp(1.75rem, 1vw + 1.5rem, 2.35rem);
    font-weight: 600;
}

.help-main-sec__body {
    color: #AAAAAA;
    font-size: clamp(1.1rem, 1vw + 1rem, 1.5rem);
    font-weight: 500;
}

.frecuent-question-sec {
    grid-area: two;
    width: 100%;
}


.frecuent-question-sec__top {
    border-top-left-radius: var(--cards-border-radius);
    border-top-right-radius: var(--cards-border-radius);
    background-color: var(--red-color);
    color: var(--white-color);
    padding: 1.35rem 3rem;
    cursor: pointer;
}

    .frecuent-question-sec__body {
        padding: 3rem;
    }

.frecuent-question-sec__title {
    font-size: var(--section-title-fs);
    font-weight: 500;
}

.support-sec {
    grid-area: three;
    display: flex;
    flex-direction:column;

}


.support-sec__top {
    cursor: pointer;
    border-top-left-radius: var(--cards-border-radius);
    border-top-right-radius: var(--cards-border-radius);
    background-color: #5c5c5c;
    color: var(--white-color);
    padding: 1.35rem 3rem;
}

.support-sec__body {
    flex-grow: 1;
    display: grid;
    place-items: center;
    padding: 4rem 3rem;
}

.support-sec__title {
    font-size: var(--section-title-fs);
    font-weight: 500;
}

.support-sec__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
   
}

.support-sec__card-icon {
    background-color: #f1f1f1;
    padding: 2rem;
    clip-path: circle(50%);
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: #5c5c5c;
}

.support-sec__card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.support-sec__card-number {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
    color: #656565;
    font-size: var(--fs-medium);
    font-weight: 600;
}

    .support-sec__card-number span:last-child {
        font-size: clamp(1.75rem, 1vw + 1.5rem, 2.35rem);
        font-weight: 600;
        color: #8b8b8b;
    }

.support-sec__card-message {
    max-width: 30ch;
    text-align: center;
    color: #aaa;
    font-size: var(--fs-small);
    font-weight: 500;
}







.welcome-card-container {
    grid-area: one;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.welcome-card-img-container {
    pointer-events: none;
    user-select: none;
}

    .welcome-card-img-container::before {
        content: "";
        z-index: 200;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: var(--cards-border-radius);
    }

.welcome-card-img {
    z-index: 100;
    position: absolute;
    bottom: -1rem;
    right: clamp(.5rem, 3vw + 1rem, 5rem);

    max-width: 320px;
}

.welcome-card {
    position: relative;
    border-radius: var(--cards-border-radius);
    width: 100%;
    height: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 6.5rem 15rem 6.5rem 4rem;
    text-align: start;
    overflow: hidden;
}


    .welcome-card .text {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.25rem;
        z-index: 1000;
        max-width: 75%;
    }

    .welcome-card h1 {
        color: #656565;
        line-height: 1;
        font-size: clamp(1.75rem, 1vw + 1.5rem, 2.35rem);
        font-weight: 600;
    }


    .welcome-card p {
        color: #AAAAAA;
        font-size: clamp(1.1rem, 1vw + 1rem, 1.5rem);
        font-weight: 500;
    }





@media only screen and (max-width: 1026px) {
    .app.help {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-areas:
            'one one one'
            'two two two'
            'three three three';
    }
}

@media only screen and (max-width: 1000px) {

    .welcome-card {

        padding: 6.5rem 4rem;

    }

    .welcome-card-img {
        display:none;
    }

    .welcome-card .text {

        max-width: 100%;
    }
}



@media only screen and (max-width: 686px) {

    .app.help {
        padding-top: 2rem;
        padding-bottom: 110px;
    }
}



