<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICESFit - @ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">



    <link rel="stylesheet" href="~/css/base/general.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="body transition-off">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert warning">
            <i class="fa-solid fa-circle-xmark"></i>
            <span>@TempData["ErrorMessage"]</span>
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert ok">
            <i class="fa-solid fa-circle-check"></i>
            <span>@TempData["SuccessMessage"]</span>
        </div>
    }

    @RenderBody()

</body>

<script>
    window.addEventListener('load', function () {
        document.body.classList.remove('transition-off');
    });
</script>

<script src="~/js/general/alerts.js" defer></script>
<script src="~/js/general/site.js" defer></script>

</html>
