<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICESFit - @ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">



    <link rel="stylesheet" href="~/css/base/general.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="~/js/alerts.js" defer></script>
    <script src="~/js/site.js" defer></script>
</head>
<body class="body transition-off">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert warning">
            <i class="fa-solid fa-circle-xmark"></i>
            <span>@TempData["ErrorMessage"]</span>
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert ok">
            <i class="fa-solid fa-circle-check"></i>
            <span>@TempData["SuccessMessage"]</span>
        </div>
    }

    @RenderBody()
    <footer class="footer">
        <div class="footer-top">
            <div class="contact-info">
                <h2>Contactános</h2>
                <span>icessuperior@ices.edu.ar</span>
                <span>Silvio Delloni 4013, Sunchales, Santa Fe</span>
                <span>+54 9 3493 52-3774</span>
            </div>
            <div class="subscription-container">
                <h2>Contactános</h2>
                <form onsubmit="alert('Función aún no implementada')" class="subscription-form">
                    <input type="email" name="" id="" class="subscription-form-input" placeholder="Ingresá tu email..." required>
                    <button type="submit" class="subscription-submit-btn">Enviar</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <span>Copyright &#169; ICESFit | Establecimiento Deportivo - 2024. Todos los derechos reservados.</span>
            <span>Creado por <a href="https://github.com/chrismaldona2" target="_blank">Christian Maldonado</a></span>
        </div>
    </footer>
</body>
</html>
