* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    min-width: 0;
}

body {
    min-height: 100dvh;
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

a {
    text-decoration: none;
    color: black;
}

ul, ol{
    list-style: none;
}

button {
    cursor: pointer;
    outline: none;
}

.transition-off * {
    transition: none !important;
}