.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-inline: var(--padding-inline-large);
    max-height: var(--header-max-height);
}

.logo img {
    max-width: 100%;
    height: auto;
    max-height: 60px;
}

.header .nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header .nav a {
    font-size: var(--fs-small);
    font-weight: 500;
    color: var(--dark-grey-color);
}

