@using WebApp.Models.Administrador
@model LoginAdminDTO

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<head>
    <script src="~/js/services/loginAdminService.js" defer></script>
    <link rel="stylesheet" href="~/css/pages/admin-login.css">
</head>

<header class="header">
    <a asp-controller="Usuario" asp-action="LoginCliente" class="logo">
        <img src="/images/logo.png" alt="Logo">
    </a>
    <nav class="nav">
        <ul>
            <li>
                <a asp-controller="Usuario" asp-action="LoginCliente">Inicio</a>
            </li>
        </ul>
    </nav>
</header>
<main class="main">
    <div class="app">
        <div class="form-container">
            <div class="form-top">
                <h1>Bienvenido!</h1>
                <h2>Iniciar como administrador</h2>
            </div>
            <form asp-action="AutenticarAdmin" method="post" class="admin-login-form">
                <div class="input-container">
                    <label for="usuarioAdmin" asp-for="Usuario">Nombre de usuario</label>
                    <input type="text" id="usuarioAdmin" class="admin-login-input" asp-for="Usuario" autocomplete="off" required>
                </div>
                <div class="input-container">
                    <label for="contraseñaAdmin" asp-for="Contraseña">Contraseña</label>
                    <input type="password" id="contraseñaAdmin" class="admin-login-input admin-login-password" asp-for="Contraseña" autocomplete="off" required>
                </div>
                <div class="show-password-container">
                    <label for="mostrarContraseña">Mostrar contraseña</label>
                    <label class="checkbox-container" for="mostrarContraseña">
                        <input type="checkbox" id="mostrarContraseña">
                        <div class="checkmark"></div>
                    </label>
                </div>
                <div class="input-container">
                    <button type="submit" class="admin-login-form-btn">Ingresar</button>
                </div>
            </form>
        </div>
        <div class="img-container">
            <img src="/images/background-2.jpg" alt="">
        </div>
    </div>
</main>

<footer class="footer">
    <div class="footer-top">
        <div class="contact-info">
            <h2>Contactános</h2>
            <span>icessuperior@ices.edu.ar</span>
            <span>Silvio Delloni 4013, Sunchales, Santa Fe</span>
            <span>+54 9 3493 52-3774</span>
        </div>
        <div class="subscription-container">
            <h2>Contactános</h2>
            <form class="subscription-form">
                <input type="email" name="" id="" class="subscription-form-input" placeholder="Ingresá tu email..." autocomplete="off" required>
                <button type="button" class="subscription-submit-btn" onclick="mostrarError('Funcion aún no implementada.')">Enviar</button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <span>Copyright &#169; ICESFit | Establecimiento Deportivo - 2024. Todos los derechos reservados.</span>
        <span>Creado por <a href="https://github.com/chrismaldona2" target="_blank">Christian Maldonado</a></span>
    </div>
</footer>